<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <% include cabecera.ejs %>

      <p><%= __('Welcome to') %> <%= title %></p>

      <h2><%= __('Adverts list') %></h2>
    <table>

        <% anuncios.forEach(anuncio => { %>
          <tr>
            <td>  
              <p><%= __('Advert:') %> <%= anuncio.nombre %> --> <%= __('Price:') %> <%= anuncio.precio %> €</p>
              <p><%= __('For sale?') %> <%= anuncio.venta %> // <%= __('Tags:') %> <%= anuncio.tags %></p>
            </td>    
            <td>
              <img src="../images/anuncios/<%= anuncio.foto %>" alt="<%= anuncio.foto %>" width=200>
            </td>
          </tr>
          <% }) %>
          
    </table>
  </body>
</html>
